<!-- navigation -->
<site-nav></site-nav>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-md-offset-3">
			<img class="img-responsive" src="img/ire.jpg" alt="banner"><br><br>
			<p>The Section is currently made up of fourteen Committees that promote the participation of members of the Association towards achieving the objectives of the Section. </p>
				<p>Please make sure you select the Committees that you wish to join as listed in the profile page and indicate your preferred free membership committee. For more details of the list of committees refer to the committees page or download the registration form from the paper registration link below</p><br><br>
		  <div class="panel panel-success">
		  <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In</h3></div>
		  <div class="panel-body">
		   <form role="form" ng-submit='lvm.login()'>
				  <div class="form-group">
				    <label for="email">Email</label>
				    <input type="email" class="form-control" ng-model='lvm.user.email' id="email" tabindex="1" placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="password">Password <a href="/help?v=forgot_password">(forgot password)</a></label>
				    <input type="password" class="form-control" ng-model='lvm.user.password' id="password" tabindex="2" placeholder="Password">
				  </div>

				  <div class="alert alert-danger" ng-if="lvm.loginError === true">
				  	<p class="text-center light title">{{lvm.loginErrorMsg}}</p>
				  </div>
		  		<button type="submit" class="btn btn-sm btn-success" tabindex="3">Sign in</button>
				</form>
				<p class="m-t-2 m-b-2">
					<strong class="label label-info" > Download</strong>  a copy of the <a 
				href="/files/slp_current_membership_form.pdf" download target="_self" >paper Registration Form here</a>	
				</p>
				
		  </div>
		</div>
	</div>

	</div>
</div>

<!-- sitefooter -->
<site-footer></site-footer>