<!-- navigation -->
<site-nav></site-nav>

<!-- container -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="container-box shadow wbg small-radius">
				<h1 class="text-center regular sub-title">Add preferred committee</h1>
				<hr>
				<form ng-submit="adSite.addPreferredCommittee()">
					<div class="form-group">
						<label for="committee_name">Committee Name</label><input type="text" id='committee_name' class="form-control" ng-model="adSite.committee.name" placeholder="Committee name" tabindex="1">
					</div>
					
					<!-- show error whiling adding it to database. -->
					<div class="alert alert-danger" ng-if="adSite.addCommitteeError === true">
						<p class="text-center sub-title no-margin">{{adSite.addCommitteeErrorMsg}}</p>
					</div>

					<!-- when we don't have error while adding to bd -->
					<div class="alert alert-success" ng-if="adSite.addCommitteeError === false">
						<p class="text-center sub-title no-margin">{{adSite.addCommitteeSuccessMsg}}</p>
					</div>

					<div class="form-group">
						<button type="submit" tabindex="2" class="btn btn-info">Save Committee</button>
					</div>
					
					<!-- to show existing committees -->
					<div ng-init="adSite.showCommittee()">
						<div class="alert alert-danger" ng-if="adSite.committeeError === true">
							<p class="text-center regular title no-margin">{{adSite.committeeErrorMsg}}</p>
						</div>

						<div ng-if="adSite.committeeError === false">
							<h1 class="regular title">Existing Committee List</h1>
							<hr>
							<ul class="list">
								<li ng-repeat="committee in adSite.committeeList">
									<p class="regular sub-title m-b-1">
										{{committee.name}}
										<span class="pull-right pointer no-margin no-padding"><i class="fa fa-close" aria-hidden="true" ng-click="adSite.removeList(committee._id)"></i></span>
									</p>
									<span class="clearfix"></span>
								</li>
							</ul>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- sitefooter -->
<site-footer></site-footer>