<!-- navigation -->
<site-nav></site-nav>

<!-- container -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<div class="container-box shadow wbg small-radius">
				<h1 class="text-center regular sub-title">Add preferred committee</h1>
				<hr>
				<form ng-submit="adSite.addPreferredCommittee()">
					<div class="form-group">
						<label for="committee_name">Committee Name</label><input type="text" id='committee_name' class="form-control" ng-model="adSite.committee.name" placeholder="Committee name" tabindex="1">
					</div>

					<div class="form-group">
						<label for="councilMember">Council Member</label><input type="text" id='councilMember' class="form-control" ng-model="adSite.committee.councilMember" placeholder="Chairman for the Committee" tabindex="2">
					</div>
					
					<!-- show error whiling adding it to database. -->
					<div class="alert alert-danger" ng-if="adSite.addCommitteeError === true">
						<p class="text-center sub-title no-margin">{{adSite.addCommitteeErrorMsg}}</p>
					</div>

					<!-- when we don't have error while adding to bd -->
					<div class="alert alert-success" ng-if="adSite.addCommitteeError === false">
						<p class="text-center sub-title no-margin">{{adSite.addCommitteeSuccessMsg}}</p>
					</div>

					<div class="form-group">
						<button type="submit" tabindex="3" class="btn btn-info">Save Committee</button>
					</div>
					
					<!-- to show existing committees -->
					<div ng-init="adSite.showCommittee()">
						<div class="alert alert-danger" ng-if="adSite.committeeError === true">
							<p class="text-center regular title no-margin">{{adSite.committeeErrorMsg}} </p>
						</div>

						<div ng-if="adSite.committeeError === false">
							<h1 class="regular title">Existing Committee List</h1>
							<hr>
							<ul class="list">
								<li ng-repeat="committee in adSite.committeeList">
									<p class="regular sub-title m-b-1">
										{{committee.name}} (<span class="sub-title light">{{committee.councilMember}}</span>)
										<span class="pull-right pointer no-margin no-padding"><i class="fa fa-close" aria-hidden="true" ng-click="adSite.removeList(committee._id)"></i></span>
									</p>
									<span class="clearfix"></span>
								</li>
							</ul>
						</div>

					</div>
				</form>
			</div>
		</div>

		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="container-box shadow wbg small-radius">
						<h1 class="text-center regular sub-title">Add Events</h1>
						<hr>
						<form ng-submit="adSite.addEvent()">
							<div class="form-group">
								<label for="event_title">Event Title</label>
								<input type="text" ng-model='adSite.event.eventTitle' id='event_title' placeholder="Event title" class="form-control">
							</div>

							<div class="form-group">
								<label for="eventDetails">Event Details</label>								
									<textarea class="form-control" ng-model='adSite.event.eventDetails' placeholder= "Event details" 
									id="eventDetails"></textarea>
							</div>

							<div class="form-group">
								<label for="eventStarts">Event starts</label>
								<datepicker date-format="dd-MM-yyyy" style='position: relative;'>
									<input type="text" id="eventStarts" ng-model='adSite.event.eventStarts' class="form-control half" placeholder="Event start date">
									<i class="fa fa-calendar" style="position: absolute !important; right: 260px; top: 10px; color: #499928 !important;" aria-hidden="true"></i>
								</datepicker>
							</div>

							<div class="form-group">
								<label for="eventEnds">Event ends</label>
								<datepicker date-format="dd-MM-yyyy" style="position: relative;">
									<input type="text" id="eventEnds" ng-model='adSite.event.eventEnds' class="form-control half" placeholder="Event end date">
									<i class="fa fa-calendar" style="position: absolute !important; right: 260px; top: 10px; color: #499928 !important;" aria-hidden="true"></i>
								</datepicker>
							</div>
							<div class="clearfix"></div>

							<div class="alert alert-danger" ng-if="adSite.eventAddError === true">
								<p class="text-center no-margin">{{adSite.eventAddErrorMsg}}</p>
							</div>

							<div class="alert alert-success" ng-if="adSite.eventAddSuccess === true">
								<p class="text-center no-margin">Event successfully added to the system</p>
							</div>

							<div class="form-group">
									<button type="submit" class="btn btn-success m-t-2 m-b-2">Save</button>
							</div>

						</form>

						<!-- show newly added event. -->
						<div ng-init="adSite.showEvent()">
							<div ng-if="adSite.showEventError === false">
								<ul class="list">
									<li ng-repeat="event in adSite.events">
										<p class="regular sub-title m-b-1">
											{{event.eventTitle}}
											<span class="pull-right pointer no-margin no-padding"><i class="fa fa-close" aria-hidden="true" ng-click="adSite.removeEvent(event._id)"></i></span>
										</p>
										<span class="clearfix"></span>
									</li>
								</ul>
							</div>
						</div>
				</div>
		</div>

	</div>
</div>


<!-- sitefooter -->
<site-footer></site-footer>