<!-- navigation -->
<site-nav></site-nav>

<!-- when profile hasn't been activated -->
<div class="container-fluid" ng-if='provm.currentAccountType === "customer" '>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="provm.profileStatus === false">
			<h1 class="hero-big-title light text-center">
				Looks Like You Haven't Activated Your Account Yet. <p class="text-center light title m-t-2">Please activate your account now.<br/> <a ng-if='provm.userStatuses[0].profileActivationMail === false' href="#" ng-click='provm.sendActivationCode()' title="Activate your account" class="m-t-2 btn btn-success">SEND ME ACTIVATION CODE</a></p>
                <img src="img/ajax-loader.gif" width="180" height="180" alt="image" ng-if='provm.codeReady === true' />
			</h1>
            <div class="alert alert-danger" ng-if="provm.activationCodeError === true">
                <p class="text-center no-margin regular">{{provm.activationCodeErrorMsg}}</p>
            </div>
            
            <div ng-if="provm.userStatuses[0].profileActivationMail === true" class="col-xs-4 col-md-4 col-md-offset-4">
                <p class="regular text-center title">We sent you activation code to your email address. Plz check the <strong>junk</strong> inbox too</p>
                <h1 class="text-center regular title">
                    Enter your activation code                
                </h1>
                <form ng-submit="provm.activeProfile()">
                    <div class="form-group">
                        <input type="text" placeholder="Enter activation code" ng-model='provm.activation.code' class="form-control text-center" tabindex="1">
                    </div>
                    <!-- when activation fails -->
                    <div class="alert alert-danger" ng-if="provm.ActivationError === true">
                        <p class="text-center regular title">{{provm.ActivationErrorMsg}}</p>
                    </div>
                    <!-- when activation successfull -->
                    <div class="alert alert-success" ng-if='provm.activationSuccess === true'>
                        <p class="text-center regular">Success!. You will be logged out from the system in 3 sec to let the activation take place. thank you </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" tabindex="2" class="btn btn-danger full">Activate Profile</button>
                    </div>
                </form>
            </div>         

		</div>
	</div>
</div>

<!-- profile container -->
<div class="container m-t-2 m-b-2" ng-init='provm.getProfileStatuses()'>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="container-box shadow wbg" ng-if='provm.userStatuses[0].basic_info === false'>
                <h1 class="text-center title light">Fill up your personal information</h1>
                <hr>
                <form ng-submit="provm.saveBasicInfo()">
                    <div class="form-group">
                        <label for="formername">Former Name</label>
                        <input type="text" id='formername' ng-model='provm.basicProfile.formerName' placehoder="former name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sex">Sex</label>
                        <select name="sex" id="sex" ng-model='provm.basicProfile.sex' class="form-control half">
                            <option value="" selected="">Select Sex</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tel">Telephone</label>
                        <input type="text" id='tel' ng-model='provm.basicProfile.tele' placehoder="Telephone" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id='address' ng-model='provm.basicProfile.address' placehoder="Your address" class="form-control">
                    </div>

                    <div class="alert alert-danger" ng-if="provm.basicAccountInfoError === true">
                        <p class="regular text-center">{{provm.basicAccountInfoErrorMsg}}</p>
                    </div>

                    <button type="submit" class="btn btn-info">Save Details</button>

                </form>
            </div>

            <!-- this html block to show basic Info -->
            <div class="container-box shadow wbg" ng-if="provm.userStatuses[0].basic_info === true" ng-init="provm.loadBasicInfo('profile')">
                <div class="alert alert-danger" ng-if="provm.userBasicInfoLoadingError === true">
                    <p class="text-center no-margin regular title">{{provm.userBasicInfoLoadingErrorMsg}}</p>
                </div>
                <div ng-if='provm.userBasicInfoLoadingError === false'>
                    <h1 class="text-center title regular">Your Basic Profile Info</h1>
                    <hr>
                    <ul class="list">
                        <li>
                            <p class="regular sub-title">Former name: {{provm.basicInfo.formerName}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">Sex: {{provm.basicInfo.sex}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">Address: {{provm.basicInfo.address}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">Account Created: {{provm.basicInfo.createdAt | date: 'yyyy, MMM dd'}}</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="container-box shadow wbg" ng-if='provm.userStatuses[0].branch === false'>
                <h1 class="text-center title light">Branch Info</h1>
                <hr>
                <form ng-submit="provm.saveBatchInfo()">
                    <div class="form-group">
                        <label for="baryear">Bar year</label>
                        <input type="text" id='baryear' ng-model='provm.branch.year' placehoder="Bar year" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="nba_branch">Nba Branch</label>
                        <input type="text" id='nba_branch' ng-model='provm.branch.branch' placehoder="NBA Branch" class="form-control">
                    </div>

                    <div class="alert alert-danger" ng-if=" provm.branchInfoError === true">{{provm.branchInfoErrorMsg}}</div>

                    <button type="submit" class="btn btn-info">Save Details</button>

                </form>
            </div>

            <!-- this html block to show branch info -->
            <div class="container-box shadow wbg" ng-if="provm.userStatuses[0].branch === true" 
            ng-init="provm.loadUserBranch('branch')">
                <div class="alert alert-danger" ng-if="provm.userInfoLoadingError === true">
                    <p class="text-center no-margin regular title">{{provm.userInfoLoadingErrorMsg}}</p>
                </div>
                <div ng-if='provm.userInfoLoadingError === false'>
                    <h1 class="text-center title regular">Your Branch Info</h1>
                    <hr>
                    <ul class="list">
                        <li>
                            <p class="regular sub-title">Bar Year: {{provm.branchInfo.barYear}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">NBA Branch: {{provm.branchInfo.nbaBranch}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="container-box shadow wbg">
                <h1 class="text-center title light">Bank Tellers</h1>
                <hr>
                <form ng-submit="provm.saveBankTellerInfo()">
                    <div class="form-group">
                        <label for="preferredCommittee">Preferred Committee * </label>
                        <input type="text" id='preferredCommittee' ng-model='provm.bankTellerInfo.preferredCommittee' placehoder="Preferred Committee" class="form-control">
                    </div>
                    
                    <div class="form-group" ng-init="provm.getCommittee()">
                        <label for="additional_committee">Additional Committee *</label>
                        <select name="additional_committee" id="additional_committee" class="form-control" ng-model='provm.bankTellerInfo.additional_committee'>
                            <option value="" selected="">Select additional committee</option>
                            <option value="{{committee.name}}" ng-repeat="committee in provm.committees">{{committee.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tellerDoc" class="btn btn-danger">
                            Upload bank Teller *
                            <input type="file" id="tellerDoc" file-model='tellerDoc' name='files' class="hidden">
                        </label>
                    </div> 

                    <div class="alert alert-danger" ng-if="provm.saveTellerError === true">
                        <p class="text-center regular no-margin">{{provm.saveTellerErrorMsg}}</p>
                    </div>

                    <button type="submit" class="btn btn-info">Save Details</button>
                </form>
                
                <!-- when file upload has been successfull -->
                <div ng-if="provm.userStatuses[0].bankteller === true === true" ng-init='provm.getCurrentBankTeller()'>
                    
                    <!-- when we have error loading bank teller -->
                    <div class="alert alert-danger" ng-if="provm.bankTellerLoadingError === true">
                        <p class="text-center regular">{{provm.bankTellerLoadingErrorMsg}}</p>
                    </div>

                    <!-- when bank teller loading successful -->
                    <div class="alert alert-success m-t-2">
                        <p class="text-center regular">We have received your bank teller. its under verification right now. You will get a notification email once its been verified.</p>
                    </div>
                    <ul class="list">
                        <li><span class="regular titile">Preferred Committee: {{provm.userBankTeller.preferredCommittee}}</span></li>
                        <li><span class="regular titile">Additional Committee: {{provm.userBankTeller.additionalCommittee}}</span></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="container-box shadow wbg">
                <h1 class="text-center regular title">Reset your password</h1>
                <hr>
                <form ng-submit="provm.resetPassword()">
                    <div class="form-group"><label for="password">Password</label><input type="password" class="form-control" ng-model="provm.resetpassword.password" id='password' tabindex="1" placeholder="Your existing password"></div>

                    <div class="form-group"><label for="repeat_password">Repeat Password</label><input type="password" class="form-control" ng-model="provm.resetpassword.repeat_password" tabindex="2" id='repeat_password' placeholder="Repeat Your existing password"></div>

                    <div class="form-group"><label for="new_password">Repeat Password</label><input type="password" class="form-control" ng-model="provm.resetpassword.new_password" tabindex="3" id='new_password' placeholder="Your new password"></div>

                    <div class="alert alert-danger" ng-if="provm.resetPasswordError === true">
                        <p class="text-center regular title">{{provm.resetPasswordErrorMsg}}</p>
                    </div>
                    <div class="alert alert-success" ng-if="provm.resetSuccess === true">
                        <p class="text-center regular title">Password reset successful!. For security, you will be logged out now</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" tabindex="4" class="btn btn-success">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" ng-if="provm.statusLoadError === true">
        <h1 class="hero-big-title light text-center">{{provm.statusLoadErrorMsg}}</h1>
    </div>
</div>

<!-- sitefooter -->
<site-footer></site-footer>