<!-- navigation -->
<site-nav></site-nav>

<!-- when profile hasn't been activated -->
<div class="container-fluid" ng-if='provm.currentAccountType === "customer" '>
	<div class="row">

        <div class="container">
             <img class="image-response" src="img\banner_profile.jpg" alt="conference">
        </div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="provm.profileStatus === false">
			<h1 class="hero-big-title light text-center">
				Looks Like You Haven't Activated Your Account Yet. <p class="text-center light title m-t-2">Please activate your account now.<br/> <a ng-if='provm.userStatuses[0].profileActivationMail === false' href="#" ng-click='provm.sendActivationCode()' title="Activate your account" class="m-t-2 btn btn-success">SEND ME ACTIVATION CODE</a></p>
                <img src="img/ajax-loader.gif" width="180" height="180" alt="image" ng-if='provm.codeReady === true' />
			</h1>
            <div class="alert alert-danger" ng-if="provm.activationCodeError === true">
                <p class="text-center no-margin regular">{{provm.activationCodeErrorMsg}}</p>
            </div>
            
            <div ng-if="provm.userStatuses[0].profileActivationMail === true" class="col-xs-4 col-md-4 col-md-offset-4">
                <p class="regular text-center title">We sent you activation code to your email address. Plz check the <strong>junk</strong> inbox too</p>
                <h1 class="text-center regular title">
                    Enter your activation code                
                </h1>
                <form ng-submit="provm.activeProfile()">
                    <div class="form-group">
                        <input type="text" placeholder="Enter activation code" ng-model='provm.activation.code' class="form-control text-center" tabindex="1">
                    </div>
                    <!-- when activation fails -->
                    <div class="alert alert-danger" ng-if="provm.ActivationError === true">
                        <p class="text-center regular title">{{provm.ActivationErrorMsg}}</p>
                    </div>
                    <!-- when activation successfull -->
                    <div class="alert alert-success" ng-if='provm.activationSuccess === true'>
                        <p class="text-center regular">Success!. You will be logged out from the system in 3 sec to let the activation take place. thank you </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" tabindex="2" class="btn btn-danger full">Activate Profile</button>
                    </div>
                </form>
            </div>         

		</div>
	</div>
</div>

<!-- profile container -->
<div class="container m-t-2 m-b-2" ng-init='provm.getProfileStatuses()'>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="container-box shadow wbg" ng-if='provm.userStatuses[0].basic_info === false'>
                <h1 class="text-center title light">Fill up your personal information</h1>
                <hr>
                <form ng-submit="provm.saveBasicInfo()">
                    <div class="form-group">
                        <label for="formername">Former Name</label>
                        <input type="text" id='formername' ng-model='provm.basicProfile.formerName' placehoder="former name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sex">Sex</label>
                        <select name="sex" id="sex" ng-model='provm.basicProfile.sex' class="form-control half">
                            <option value="" selected="">Select Sex</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tel">Telephone</label>
                        <input type="text" id='tel' ng-model='provm.basicProfile.tele' placehoder="Telephone" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id='address' ng-model='provm.basicProfile.address' placehoder="Your address" class="form-control">
                    </div>

                    <div class="alert alert-danger" ng-if="provm.basicAccountInfoError === true">
                        <p class="regular text-center">{{provm.basicAccountInfoErrorMsg}}</p>
                    </div>

                    <button type="submit" class="btn btn-info">Save Details</button>

                </form>
            </div>

            <!-- this html block to show basic Info -->
            <div class="container-box shadow wbg" ng-if="provm.userStatuses[0].basic_info === true" ng-init="provm.loadBasicInfo('profile')">
                <div class="alert alert-danger" ng-if="provm.userBasicInfoLoadingError === true">
                    <p class="text-center no-margin regular title">{{provm.userBasicInfoLoadingErrorMsg}}</p>
                </div>
                <div ng-if='provm.userBasicInfoLoadingError === false'>
                    <h1 class="text-center title regular">
                        Your Basic Profile Info
                        <a href="#" ng-click='provm.editBasicInfo(provm.basicInfo.whos)' title="Edit Profile Details" class="btn btn-info pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </h1>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="list" ng-if='provm.basicProfileEditOn === false'>
                        <li>
                            <p class="regular sub-title">Former name: {{provm.basicInfo.formerName}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">Sex: {{provm.basicInfo.sex}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">Address: {{provm.basicInfo.address}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">Telephone: {{provm.basicInfo.telephone}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">Account Created: {{provm.basicInfo.createdAt | date: 'yyyy, MMM dd'}}</p>
                        </li>
                    </ul>

                    <form ng-submit="provm.SaveEditBasicInfo()" ng-if="provm.basicProfileEditOn === true">
                        <div class="form-group">
                            <label for="formal_name">Formal name</label>
                            <input type="text" id="formal_name" placeholder="Formal name" 
                            class="form-control" ng-model='provm.editBasic.name' ng-value="provm.basicInfo.formerName">
                        </div>

                        <div class="form-group">
                            <label for="sex">Sex</label>
                            <select name="sex" id="sex" ng-model='provm.editBasic.sex' class="form-control half">
                                <option value="" selected="">Select Sex</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="telephone">Telephone</label>
                            <input type="text" id="telephone" placeholder="Telephone" 
                            class="form-control" ng-model='provm.editBasic.telephone' ng-value="provm.basicInfo.telephone">
                        </div>

                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" id="address" placeholder="Address" 
                            class="form-control" ng-model='provm.editBasic.address' ng-value="provm.basicInfo.address">
                        </div>

                        <!-- when we have error saving edit info -->
                        <div class="alert alert-danger m-t-1 m-b-1" ng-if="provm.editBasicInfoError === true">
                            <p class="text-center regular title">{{provm.editBasicInfoErrorMsg}}</p>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success pull-left">Save Change</button>
                            <a href="" class="pull-right btn btn-danger" ng-click="provm.cancleBasicEdit()">Cancel</a>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="container-box shadow wbg" ng-if='provm.userStatuses[0].branch === false'>
                <h1 class="text-center title light">Branch Info</h1>
                <hr>
                <form ng-submit="provm.saveBatchInfo()">
                    <div class="form-group">
                        <label for="baryear">Year Of Call</label>
                        <input type="text" id='baryear' ng-model='provm.branch.year' placehoder="Bar year" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="nba_branch">Nba Branch</label>
                        <input type="text" id='nba_branch' ng-model='provm.branch.branch' placehoder="NBA Branch" class="form-control">
                    </div>

                    <div class="alert alert-danger" ng-if=" provm.branchInfoError === true">{{provm.branchInfoErrorMsg}}</div>

                    <button type="submit" class="btn btn-info">Save Details</button>

                </form>
            </div>

            <!-- this html block to show branch info -->
            <div class="container-box shadow wbg" ng-if="provm.userStatuses[0].branch === true" 
            ng-init="provm.loadUserBranch('branch')">
                <div class="alert alert-danger" ng-if="provm.userInfoLoadingError === true">
                    <p class="text-center no-margin regular title">{{provm.userInfoLoadingErrorMsg}}</p>
                </div>
                <div ng-if='provm.userInfoLoadingError === false'>
                    <h1 class="text-center title regular">
                        Your Branch Info
                        <a href="#" ng-click='provm.editBranchInfo(provm.branchInfo.whos)' title="Edit Profile Details" class="btn btn-info pull-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </h1>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="list" ng-if='provm.branchInfoEditOn === false'>
                        <li>
                            <p class="regular sub-title">Bar Year: {{provm.branchInfo.barYear}}</p>
                        </li>
                        <li>
                            <p class="regular sub-title">NBA Branch: {{provm.branchInfo.nbaBranch}}</p>
                        </li>
                    </ul>

                    <!-- show edit form -->
                    <div ng-if="provm.branchInfoEditOn === true">
                        <form ng-submit="provm.saveEditBranchInfo()" class="form-horizontal">
                            <div class="form-group">
                                <label for="baryear" class="regular title">Bar Year</label>
                                <input type="text" id="baryear" class="form-control" placeholder="Bar year" ng-model='provm.editBranch.baryear' ng-value="provm.branchInfo.barYear">
                            </div>
                            <div class="form-group">
                                <label for="branch" class="regular title">Bar Branch</label>
                                <input type="text" id="branch" 
                                    class="form-control" ng-model='provm.editBranch.branch' ng-value='provm.branchInfo.nbaBranch' placeholder="Branch year">
                            </div>

                            <!-- show error message if there is any -->
                            <div class="alert alert-danger" ng-if="provm.editBranchInfoError === true">
                                <p class="text-center title regular">{{provm.editBranchInfoErrorMsg}}</p>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success pull-left">Save Change</button>
                                <a href="#" title="cancle edit" ng-click='provm.cancelEditBranchInfo()' class="btn btn-info pull-right">Cancel</a>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 m-t-3 m-b-2">
            <div class="container-box shadow wbg">
                <h1 class="text-center title light">Bank Tellers</h1>
                <hr>
                <form ng-submit="provm.saveBankTellerInfo()" ng-if="provm.userStatuses[0].bankteller === false">

                    <div class="row">
                        <div class="col-xs-12 col-md-6">                            
                            <div class="form-group">
                                <label for="preferredCommittee regular title">Preferred Committee * </label>
                                <input type="text" id='preferredCommittee' ng-model='provm.bankTellerInfo.preferredCommittee' placehoder="Preferred Committee" class="form-control">
                            </div>
                            
                            <div class="form-group" ng-init="provm.getCommittee()">
                                <label for="additional_committee regular title">Additional Committee *</label>
                                <select name="additional_committee" id="additional_committee" class="form-control" ng-model='provm.bankTellerInfo.additional_committee'>
                                    <option value="" selected="">Select additional committee</option>
                                    <option value="{{committee.name}}" ng-repeat="committee in provm.committees">{{committee.name}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="bank_name" class="title regular">Bank Name *</label>
                                <input type="text" class="form-control" ng-model='provm.bankTellerInfo.bank' id='bank_name' placeholder="Name of the bank">
                            </div>

                            <div class="form-group">
                                <label for="bank_branch" class="title regular">Branch *</label>
                                <input type="text" class="form-control" ng-model='provm.bankTellerInfo.branch' id='bank_branch' placeholder="Branch address">
                            </div> 
                        </div>

                        <div class="col-xs-12 col-md-6">
                            
                            <div class="form-group">
                                <label for="depositor_name" class="title regular">Name of Depositor *</label>
                                <input type="text" class="form-control" ng-model='provm.bankTellerInfo.depositor' id='depositor_name' placeholder="Name of the depositor">
                            </div>

                            <div class="form-group">
                                <label for="phone_no" class="title regular">Phone No *</label>
                                <input type="text" class="form-control" ng-model='provm.bankTellerInfo.depositor_tel' id='phone_no' placeholder="Phone number">
                            </div>

                            <div class="form-group">
                                <label for="tell_no" class="title regular">Teller No *</label>
                                <input type="text" class="form-control" ng-model='provm.bankTellerInfo.tellerno' id='tell_no' placeholder="Teller No">
                            </div>

                            <div class="form-group">
                                <label for="amount_deposited" class="title regular">Amount Deposited *</label>
                                <input type="text" class="form-control" ng-model='provm.bankTellerInfo.amount' id='amount_deposited' placeholder="Amount deposited">
                            </div> 

                            <div class="form-group">
                                <label for="datedeposit" class="title regular">Date of Deposit *</label>
                                <datepicker date-format="yyyy-MM-dd" style='position: relative;'>
                                    <input type="text" class="form-control" ng-model='provm.bankTellerInfo.datedeposit' id='datedeposit' placeholder="Date of deposit">
                                    <i class="fa fa-calendar" style="position: absolute !important; right: 40px; top: 10px; color: #499928 !important;" aria-hidden="true"></i>
                                </datepicker>
                                
                            </div> 

                        </div>                      

                    </div>

                    <div class="alert alert-danger" ng-if="provm.saveTellerError === true">
                        <p class="text-center regular no-margin">{{provm.saveTellerErrorMsg}}</p>
                    </div>

                    <button type="submit" class="btn btn-info">Save Details</button>

                </form>
                
                <!-- when file upload has been successfull -->
                <div ng-if="provm.userStatuses[0].bankteller === true === true" ng-init='provm.getCurrentBankTeller()'>
                    
                    <!-- when we have error loading bank teller -->
                    <div class="alert alert-danger" ng-if="provm.bankTellerLoadingError === true">
                        <p class="text-center regular">{{provm.bankTellerLoadingErrorMsg}}</p>
                    </div>

                    <!-- when bank teller loading successful -->
                    <div class="alert alert-success m-t-2">
                        <p class="text-center regular">We have received your bank teller. its under verification right now. You will get a notification email once its been verified.</p>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-4 m-t-1 m-b-1">
                            <p class="title regular">
                                Preferred Committee: 
                                <span class="bold title">{{provm.userBankTeller.preferredCommittee}}</span>
                            </p>
                            <p class="title regular">
                                Additional Committee:
                                <span class="bold title">{{provm.userBankTeller.additionalCommittee}}</span>
                            </p>
                            <p class="title regular">
                                Date Deposited:
                                <span class="title bold">
                                    {{provm.userBankTeller.datedeposit | date: 'yyyy, MMM dd'}}
                                </span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-4 m-t-1 m-b-1">
                            <p class="title regular">
                                Amount: 
                                <span class="title bold">{{provm.userBankTeller.amount}}</span>
                            </p>
                            <p class="title regular">
                                Depositor: 
                                <span class="title bold">{{provm.userBankTeller.depositor}}</span>
                            </p>
                            <p class="title regular">
                                Depositor Phone: 
                                <span class="title bold">{{provm.userBankTeller.depositor_tel}}</span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-md-4 m-t-1 m-b-1">
                            <p class="title regular">
                                Bank: 
                                <span class="title bold">{{provm.userBankTeller.bank}}</span>
                            </p>
                            <p class="title regular">
                                Branch: 
                                <span class="title bold">{{provm.userBankTeller.branch}}</span>
                            </p>
                            <p class="title regular">
                                Teller Approved: 
                                <span class="title bold">{{provm.userBankTeller.tellerApproved}}</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 m-t-3">
            <div class="container-box shadow wbg">
                <h1 class="text-center regular title">Reset your password</h1>
                <hr>
                <form ng-submit="provm.resetPassword()">
                    <div class="form-group"><label for="password">Password</label><input type="password" class="form-control" ng-model="provm.resetpassword.password" id='password' tabindex="1" placeholder="Your existing password"></div>

                    <div class="form-group"><label for="repeat_password">Repeat Password</label><input type="password" class="form-control" ng-model="provm.resetpassword.repeat_password" tabindex="2" id='repeat_password' placeholder="Repeat Your existing password"></div>

                    <div class="form-group"><label for="new_password">Repeat Password</label><input type="password" class="form-control" ng-model="provm.resetpassword.new_password" tabindex="3" id='new_password' placeholder="Your new password"></div>

                    <div class="alert alert-danger" ng-if="provm.resetPasswordError === true">
                        <p class="text-center regular title">{{provm.resetPasswordErrorMsg}}</p>
                    </div>
                    <div class="alert alert-success" ng-if="provm.resetSuccess === true">
                        <p class="text-center regular title">Password reset successful!. For security, you will be logged out now</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" tabindex="4" class="btn btn-success">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" ng-if="provm.statusLoadError === true">
        <h1 class="hero-big-title light text-center">{{provm.statusLoadErrorMsg}}</h1>
    </div>
</div>

<!-- sitefooter -->
<site-footer></site-footer>